{% extends 'base.html.twig' %}

{% block title %}- Personnage {% endblock %}

{% block body %}

<h1>Bienvenue {{ app.user.name }} </h1>
<img src="{{ app.user.portrait }}">
{{dump(app.user)}}
{{ dump(app.session) }}
{% endblock %}
