{% extends 'base.html.twig' %}

{% block title %}- Poser une question{% endblock %}

{% block body %}

<h2>Votre Question</h2>

{# {{ form(form) }} #}


    {{ form_start(form) }}
    {{ form_end(form) }}



{% endblock %}
