{% extends 'base.html.twig' %}

{% block title %}- A Propos{% endblock %}

{% block body %}


    <h1 class="display-4">A Propos</h1>
    <p class="lead">Qu'est-ce que Eve Quantum</p>
    <hr class="my-2">
    <p>
        Eve Quantum est né de la volonté d'avoir des informations récentes sur le jeu, en mettant l'accent sur l'expérience des joueurs. <br>
        Eve Online est un jeu complet et complexe, sortie en Mai 2003, dans lequel il n'est pas toujours facile d'obtenir des réponses à ses questions. <br>
        Les nouveaux joueurs se retrouvent souvent confrontés à la réponse universelle et pourtant pleine de sens dans un jeu tel que celui-ci : "Ca dépend" .<br>
        De plus, le jeu a fêté ses 17 ans en mai 2020 et les informations que l'on peut trouver dispersées sur le web ne sont pas toujours à jour. <br>
        Dans cet espace, les joueurs pourront prendre le temps de répondre aux questions en gardant une trace de leurs interventions, celles-ci pouvant servir à d'autres. <br>
    </p>

    <p class="lead">Qui es-tu?</p>
    <hr class="my-2">
    <p>
        In Game mon nom est Krawks.
        J'ai beaucoup joué entre 2006 et 2012, mais depuis, j'ai fait quelques aller-retour sur le jeu et c'est une des raisons qui m'a motivé à développer Eve Quantum: <br>
        Dans Eve, on apprend toujours, et nouveaux joueurs comme vétérans peuvent avoir des doutes et des interrogations sur ce vaste univers qu'est New Eden. <br>
        Certaines informations peuvent être cruciales et faire la différence entre un ship qui rentre en station et un ship qui ... fait pouf.
    </p>

    <p class="lead">Comment s'effectue la connexion ?</p>
    <hr class="my-2">
    <p>
        Eve Quantum utilise le SSO de Eve Online, qui permet à l'utilisateur de s'authentifier sur le site officiel et ainsi pouvoir se présenter ici avec le nom de son personnage et son avatar. <br>
        Vos informations personnelles sont envoyé à CCP, sans transiter directement par Eve Quantum. <br>
        Vérifiez toujours lorsque vous utilisez cette méthode de connexion que le site qui vous demande de vous connecté est sécurisé et que la page de connexion l'est également (petit cadenas et url en https). <br>
        Pour plus d'informations: <a href="https://support.eveonline.com/hc/en-us/articles/205381192-Single-Sign-On-SSO-">Eve Online SSO</a>
    </p>

    <p class="lead">La modération</p>
    <hr class="my-2">
    <p>
        La modération sur Eve Quantum s'appuie sur quelques règles: <br>

        1. Les questions doivent avoir un rapport direct avec Eve Online. <br>
        2. Les questions et réponses hors sujet peuvent être modérées. <br>
        3. Les utilisateurs doivent faire une utilisation courtoise du site. <br>
        4. Les débats politiques et religieux sont autorisés, sauf ceux concernant la planète dont l'adresse est: Terre, Système Solaire, bras d’Orion, Galaxie la Voie lactée, groupe local, Amas de la Vierge, superamas local, l’Univers <br>
        <br>
        Tout utilisateurs ne respectant pas ces règles pourra se voir refusé l'accès à Eve Quantum pour une durée allant d'une journée a un banissement définitif.

    </p>


{% endblock %}
