{% extends 'base.html.twig' %}

{% block title %}- Bienvenue{% endblock %}

{% block body %}

    <h2>Dans la page home necessitant une authentification</h2>
    {% dump(user) %}
    {# {% dump(app.user.name) %} #}

{% endblock %}
