{% extends 'base.html.twig' %}

{% block title %}- Bienvenue{% endblock %}

{% block body %}

    <h2>Pas d'auth necessaire</h2>
    {# {% dump(user) %} #}
    {# {% dump(app.user.name) %} #}
    <a href="{{ path('app_login') }}">Se connecter</a>

{% endblock %}
