{% extends 'base.html.twig' %}

{% block title %}- Suggestion{% endblock %}

{% block body %}

<h2>Une suggestion ?</h2>

{# {{ form(form) }} #}


    {{ form_start(form) }}
    {{ form_end(form) }}


{% endblock %}
