.solar-system-form {
   max-width: 25vw;
}

/* .twig-raw>p {
   margin-bottom: 0.2rem;
} */

/* p {
   margin: 0;
} */

.footer {
   position:relative;
   /* bottom:0; */
   text-align: center;
}

td a {
   display:block;
   width:100%;
}

.fa-trash-alt{
   font-size : 20px;
   color: red;
}

.body {
   background-color: #1C1E22;
}


/* Bouton Killboard */
div#spy-container{
   display: flex;
   justify-content: center;
   align-items: center;
}

a.localspy {
   position: relative;
   display: inline-block;
   padding: 25px 30px;
   margin: 100px 50px;
   box-sizing: border-box;
   color: #03e9f4;
   font-size: 24px;
   text-decoration: none;
   text-transform: uppercase;
   overflow: hidden;
   transition: 0.5s;
   letter-spacing: 2px;
   -webkit-box-reflect: below 1px linear-gradient(
      transparent,#0005
   );
}

a.localspy:hover {
   background-color: #03e9f4;
   color: #1C1E22;
   box-shadow: 0 0 5px #03e9f4, 
               0 0 25px #03e9f4,
               0 0 50px #03e9f4,
               0 0 200px #03e9f4;
}

a.localspy > span {
   position: absolute;
   display: block;
}

a.localspy > span:nth-child(1) {
   top: 0;
   left: -100%;
   width: 100%;
   height: 2px;
   background: linear-gradient(90deg, transparent, #03e9f4);
   animation: animate1 1s linear infinite;
}

@keyframes animate1 {
   0% {
      left: -100%;
   }
   50%,100% {
      left: 100%
   }
}

a.localspy > span:nth-child(2) {
   top: -100%;
   right: 0;
   width: 2px;
   height: 100%;
   background: linear-gradient(90deg, transparent, #03e9f4);
   animation: animate2 1s linear infinite;
   animation-delay: 0.25s;
}

@keyframes animate2 {
   0% {
      top: -100%;
   }
   50%,100% {
      top: 100%
   }
}

a.localspy > span:nth-child(3) {
   bottom: 0;
   right: 100%;
   width: 100%;
   height: 2px;
   background: linear-gradient(270deg, transparent, #03e9f4);
   animation: animate3 1s linear infinite;
   animation-delay: 0.5s;
}

@keyframes animate3 {
   0% {
      right: -100%;
   }
   50%,100% {
      right: 100%
   }
}

a.localspy > span:nth-child(4) {
   bottom: -100%;
   left: 0;
   width: 2px;
   height: 100%;
   background: linear-gradient(360deg, transparent, #03e9f4);
   animation: animate4 1s linear infinite;
   animation-delay: 0.75s;
}

@keyframes animate4 {
   0% {
      bottom: -100%;
   }
   50%,100% {
      bottom: 100%
   }
}