.solar-system-form {
   max-width: 25vw;
}

/* .twig-raw>p {
   margin-bottom: 0.2rem;
} */

/* p {
   margin: 0;
} */

.footer {
   position:relative;
   /* bottom:0; */
   text-align: center;
}

td a {
   display:block;
   width:100%;
}

.fa-trash-alt{
   font-size : 20px;
   color: red;
}

.body {
   background-color: #1C1E22;
}